body, html {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.scroller {
  display: flex;
  background: rgb(240, 240, 240);
  position: relative;
}

.scroller.horizontal {
  height: 32px;
}

.scroller.vertical {
  width: 32px;
}

.scroller-grab {
  position: absolute;
  background: lightgray;
}

.scroller-grab.horizontal {
  height: 100%;
}

.scroller-grab.vertical {
  width: 100%;
}

.property-group {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.property-label {
  text-align: right;
  color: rgba(0, 0, 0, 0.65);
  padding: 2px;
}

.property-value {
  color: black;
  padding: 2px;
}

.divider {
  background: lightgray;
}

.tab {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 4rem;
  font-size: .8rem;
  background: rgb(224, 224, 224);
}

.tab:hover {
  /* filter: brightness(95%); */
  background: cyan;
}

.tab.active {
  background: white;
}

.tab.active:hover {
  /* background: green; */
}

.tab-group {
  display: flex;
  flex-direction: column;
  background: rgb(224, 224, 224);
}

.pane {
  display: grid;
  grid-template-columns: 64px calc(100vw - 64px);
  height: 100%;
}

.panel {
}

#app {
  display: flex;
  width: 100vw;
  height: 100vh;

  /* background: green; */

  user-select: none;
  cursor: default;

  font-family: sans-serif;
}

.character-map-container {
}

.character-map {
  display: grid;
  grid-template-columns: repeat(32, min-content);
  grid-gap: 2px;
  height: min-content;
  padding: 16px;
  background: gray;
}

.character-map-item {
}

.character-map-item>canvas {
  display: block;
  pointer-events: none;
}

.null-character {
  min-width: 8px;
  max-width: 8px;
}

.room-content {
  display: grid;
  /* grid-template-columns: 320px calc(100vw - 320px - 64px); */
  grid-template-columns: calc(100vw - 64px);
  grid-template-rows: 232px (100vh - 232px);
}

.room-list-container {
  display: flex;
  flex-direction: column;
}

.room-list {
  /* height: 100vh; */
  width: calc(100vw - 64px);
  /* height: 120px; */

  background: black;
  box-sizing: border-box;

  overflow: hidden;
}

.room-list-items {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  height: 200px;

  /* display: grid; */
  /* grid-template-columns: repeat(auto-fill, 128px); */
  /* grid-template-rows: 80px 80px; */
}

.room-list-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: black;

  height: 100px;
  min-width: 160px;

  overflow: hidden;
}

.room-list-item:hover {
  filter: contrast(80%) brightness(140%);
}

.room-list-item-image {
  display: flex;
  align-items: center;
  justify-content: center;
  /* height: 100px; */
  pointer-events: none;
}

.room-list-item-image>canvas {
  display: block;
  pointer-events: none;
}

.room-list-item-title {
  font-size: 10px;
  padding: 2px;
  color: lightgray;
  pointer-events: none;
}

.room-detail-container {
}

.room-detail {
  padding: 16px;
}

.room-title {
  font-size: 2rem;
  font-weight: bold;
  white-space: nowrap;
}

.room-image-container {
  /* display: flex; */
  /* flex-direction: column; */
  max-width: min-content;
  border: 1px solid lightgray;
}

.room-image {
  overflow: hidden;
}

.room-image>canvas {
  display: block;
  pointer-events: none;
}

.room-objects-container {
  max-width: min-content;
  border: 1px solid lightgray;
}

.room-objects {
  display: flex;
  overflow: hidden;
  font-size: 11px;
}

.room-object {
  display: flex;
  flex-direction: column;
  /* border: 1px solid cyan; */
  /* border: 1px solid rgb(240, 240, 240); */
  background: white;
}

.room-object:hover {
  filter: brightness(90%);
  /* filter: contrast(50%); */
  /* filter: hue-rotate(90deg); */
  /* filter: invert(1); */
}

.room-object.selected {
  background: rgb(255, 255, 180);
}

.room-object-title {
  padding: 3px;
  white-space: nowrap;
}

.room-object-image {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 32px;
  min-height: 32px;
  height: 100%;
}

.room-object-image img {
  display: block;
  pointer-events: none;
}

#drop {
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: center;
  bottom: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  background: rgb(240, 240, 240);
  z-index: 100;
}
