body, html {
  margin: 0;
  padding: 0;
  overflow: hidden;

  /* background: rgb(240, 240, 240); */

  user-select: none;
  cursor: default;

  font-family: 'Segoe UI', sans-serif;
  /* -webkit-font-smoothing: none; */
  /* text-rendering: optimizeLegibility; */
  text-rendering: geometricPrecision;
}

#app {
  display: flex;
  width: 100vw;
  height: 100vh;
  border-top: 1px solid lightgray;
  box-sizing: border-box;
}

.heading1 {

}

.heading2 {
}

.heading3 {
}

.scroll-pane {
  display: flex;
  flex: auto;
  /* border: 1px solid lightgray; */
  box-sizing: border-box;
}

.scroll-pane.horizontal {
  flex-direction: column;
}

.scroll-pane.vertical {
  flex-direction: row;
}

.scroll-pane-content {
  flex: auto;
  overflow: hidden;
}

.scroll-pane-control {
  display: flex;
  box-sizing: border-box;
}

.scroller {
  display: flex;
  position: relative;
  background: rgb(240, 240, 240);
  box-sizing: border-box;
}

.scroller.horizontal {
  height: 24px;
  min-height: 24px;
  width: 100%;
}

.scroller.vertical {
  width: 24px;
  min-width: 24px;
  height: 100%;
}

.scroller-grab {
  position: absolute;
  background: gray;
}

.scroller-grab.horizontal {
  height: 100%;
}

.scroller-grab.vertical {
  width: 100%;
}

.property-group {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.property-label {
  text-align: right;
  color: rgba(0, 0, 0, 0.65);
  padding: 2px;
}

.property-value {
  color: black;
  padding: 2px;
}

.divider {
  background: lightgray;
}

.tab {
  display: flex;
  align-items: center;
  color: rgb(80, 80, 80);
  font-size: 14px;
  font-weight: 500;
  padding: 4px 8px 4px 8px;
  box-sizing: border-box;
  background: rgb(240, 240, 240);
}

.tab:hover {
}

.tab.active {
  color: black;
  background: rgb(192, 192, 192);

}

.tab.active:hover {
}

.tab-group {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  border-right: 1px solid lightgray;
  background: rgb(240, 240, 240);
}

.pane {
  display: flex;
}

.panel {
}

.sidebar {
  display: flex;
  flex-direction: column;
  width: 150px;
  min-width: 150px;
  max-width: 150px;

  font-size: 14px;
  font-weight: 500;
  color: rgb(80, 80, 80);
  background: rgb(240, 240, 240);
  /* border-right: 1px solid lightgray; */
}

.sidebar-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar-image {
  align-self: center;
  width: 150px;
  height: 200px;
  /* padding: 12px; */
  background: white;
}

.sidebar-image>img {
  display: block;
}

.sidebar-item {
  padding: 4px 8px 4px 8px;
  /* background: gray; */
}

.sidebar-item.selected {
  color: black;
  background: rgb(212, 212, 212);
}

.content {
  display: flex;
  width: calc(100vw - 150px);
}

.game {
  padding: 16px;
}

.character-map-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  height: 100%;
  padding: 16px;
  background: gray;
}

.character-map {
  display: grid;
  grid-template-columns: repeat(32, min-content);
  grid-gap: 2px;

}

.character-map-item {
}

.character-map-item>canvas {
  display: block;
  pointer-events: none;
}

.null-character {
  min-width: 8px;
  max-width: 8px;
}

.rooms {
  display: flex;
  /* flex: auto; */
}

.room-list-container {
  display: flex;
  width: calc((100vw - 150px) * 0.5);
  /* padding: 8px; */
  box-sizing: border-box;
  /* background: rgb(240, 240, 240); */
  /* background: gray; */

  border-left: 1px solid lightgray;
}

.room-list-items {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(138px, 1fr));
  grid-gap: .9rem;
  padding: .9rem;

}

.room-list-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 138px;
  min-width: 138px;
  max-width: 138px;

  overflow: hidden;

  padding: 4px;

  box-sizing: border-box;
  /* border-radius: 4px; */

  background: white;

  border: 1px solid transparent;
  /* box-shadow: 2px 2px 0px 0px rgba(0, 0, 0, 0.1); */
}

.room-list-item:hover {
  /* border-color: lightgray; */
  border: 1px solid rgba(0, 0, 0, 0.3);
  /* box-shadow: 1px 1px 0px 0px rgba(0, 0, 0, 0.3); */
}

.room-list-item-image {
  display: flex;
  flex: auto;
  align-items: center;
  height: 80px;
  /* justify-content: center; */
  pointer-events: none;
  box-sizing: border-box;
  /* border: 1px solid red; */
}

.room-list-item-image>canvas {
  display: block;
  pointer-events: none;
}

.room-list-item-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 9px;
  color: gray;
  pointer-events: none;
  padding: 4px;
}

.room-list-item-title {
  font-size: 12px;
  color: black;
}

.room-detail-container {
  width: calc((100vw - 150px) * 0.5);
  /* width: 100%; */
  /* flex: auto; */
  box-sizing: border-box;
  background: white;
  /* border: 2px solid magenta; */
}

.room-detail {
  padding: 24px;
}

.room-title {
  font-size: 1.6rem;
  font-weight: bold;
  white-space: nowrap;
}

.room-image-container {
  max-width: min-content;

  /* width: 100%; */

  background: white;
}

.room-image-border {
  /* overflow: hidden; */
}

.room-image {
  /* width: calc(100% - 48px); */
  /* overflow: hidden; */
}

.room-image>canvas {
  display: block;
  pointer-events: none;
}

.room-objects-container {
  max-width: min-content;
  background: white;
}

.room-objects {
  display: flex;
  overflow: hidden;
  font-size: 11px;
  background: black;
}

.room-object {
  display: flex;
  flex-direction: column;
  color: lightgray;
  border: 2px solid transparent;
  box-sizing: border-box;
}

.room-object:hover {
  border-color: white;
}

.room-object.selected {
  background: rgb(80, 80, 80);
  color: white;
}

.room-object-title {
  padding: 5px;
  white-space: nowrap;
}

.room-object-image {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 32px;
  min-height: 32px;
  height: 100%;
}

.room-object-image img {
  display: block;
  pointer-events: none;
}

#drop {
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: center;
  bottom: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  background: rgb(240, 240, 240);
  z-index: 100;
}

#overlay {
  position: fixed;
  left: 320px;
  top: 0;
}
